<div class="container">
  <section class="ftco-section mx-auto">
    <div class="user_index">
      <h1>メンバー</h1>
      <%=  %>
    </div>
  </section>

  <section class="ftco-section ftco-agent">
    <div class="row">
      <% @users.each do |user| %>   
        <div class="col-md-3">
          <div class="agent">
            <div class="img">
              <%= attachment_image_tag user, :img, format: 'jpg', fallback: "noimage.png", class: "img-fluid img-thumbnail index-img", alt:"user_picture" %>
            </div>
            <div>
              <h3><%= link_to user.nick_name, user_path(user) %></h3>
              <p><%=user.introduction %></P>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
