<% if tmp.errors.any? %>
  <div class="error_explanation">
    <% pluralize(tmp.errors.count, "error") %>
    <p><%= "#{tmp.errors.count}件エラーがあります"%></p>
    <ul>
      <% tmp.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>