<h1>One Word Diary</h1>
<p>三日坊主の人のための「ひとこと日記」です</p>
<p>1日のどこかのタイミングで気づきや面白かったことなどを「ひとこと」で書いて共有しよう！</p>
<p>なんでも書いていいけど誹謗中傷や倫理に反することは書かないでね</p>
<p>もしそのような一言やコメントを見かけたら下記のお問い合わせフォームまで連絡してください</p>
<p>削除や修正などで対応いたします</p>

<%= link_to 'お問い合わせフォーム', contacts_path %>