	<section class="hero homes">
		<div class="background-image"></div>
		<h1>ひとこと日記</h1>
		<h3>One Word Diary</h3>
    <%= link_to "はじめる" , new_user_session_path, class: "btn" %>
	</section>


	<section class="our-work homes">
		<h3 class="title">1日「ひとこと」だけ</h3>
    <hr>
		<p>日記だけど書くのは　「ひとこと」</p>
    <p>1日で印象に残った記憶を記録しよう</p>
    <p>三日坊主のための簡単日記帳です</p>
	</section>


	<section class="features homes">
		<h3 class="title">みんなで共有しよう</h3>
    <hr>
		<p>みんなの「ひとこと」を覗いてコメントやいいねを送ってみよう</p>


		<ul class="grid">
			<li>
				<h4>コメントしよう</h4>
				<p>気になる「ひとこと」を見つけたらコメントしよう</p>
        <p>もしかしたら返信がもらえるかも</p>
			</li>
			<li>
				<h4>いいねしよう</h4>
				<p>いいなと思ったらいいねしよう</p>
        <p>いいねがもらえたら明日も「ひとこと」書けるかも</p>
			</li>
			<li>
				<h4>フォローしよう</h4>
				<p>おもしろい「ひとこと」を書いているユーザをフォローしよう</p>
        <p>明日はもっとおもしろい「ひとこと」を書いているかも</p>
			</li>
		</div>
	</section>


	<section class="reviews homes">
		<h3 class="title">使い方は自由</h3>
    <hr>
		<p>1日でやったことを書いてみる</p>
    <p>寝起きに予定を書いてみる</p>
    <p>メモ帳代わりにつかってみる</p>

		
	</section>


	<section class="contact homes", id="top-contact">
		<h3 class="title">お問い合わせはこちら</h3>	
    <p>ログインが必要です</p>
		<%= link_to "問い合わせる", contacts_path, class: "btn" %>
	</section>

	<footer>
		<p>Made by <a href="http://tutorialzine.com/" target="_blank">tutorialzine</a>. images courtesy to <a href="http://unsplash.com/" target="_blank">unsplash</a>.</p>
		<p>No attribution required. you can remove this footer.</p>
	</footer>
